<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="mati-global-id-sdk-cordova-plugin" version="0.0.4">
   <name>MatiGlobalIDSDK</name>
   <js-module name="MatiGlobalIDSDK" src="www/MatiGlobalIDSDK.js">
      <clobbers target="cordova.plugins.MatiGlobalIDSDK" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="MatiGlobalIDSDK">
            <param name="android-package" value="com.cordova.plugin.matiglobalidsdk.MatiGlobalIDSDK" />
            <param name="onload" value="true" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/MatiGlobalIDSDK.java" target-dir="src/com/cordova/plugin/matiglobalidsdk" />
      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
      </config-file>
   </platform>
   <platform name="ios">
      <dependency id="cordova-plugin-cocoapod-support"/>
      <pods-config ios-min-version="11.4" use-frameworks="true">
      </pods-config>
      <config-file parent="/*" target="config.xml">
         <feature name="MatiGlobalIDSDK">
            <param name="ios-package" value="MatiGlobalIDSDK" />
            <param name="onload" value="true" />
         </feature>
      </config-file>
      <source-file src="src/ios/MatiSDK.m" />
      <pod name="Mati-Global-ID-SDK" />
   </platform>
</plugin>
